/TestMultiDialog/Debug/TestMultiDialog.exe
/TestMultiDialog/Debug/TestMultiDialog.ilk
/TestMultiDialog/Debug/TestMultiDialog.pdb
/TestMultiDialog/Release/TestMultiDialog.pdb
/TestMultiDialog/TestMultiDialog.sdf
/TestMultiDialog/TestMultiDialog/Debug/SubClass1.obj
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.Build.CppClean.log
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.log
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.obj
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.pch
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.res
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.tlog/CL.read.1.tlog
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.tlog/CL.write.1.tlog
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.tlog/TestMultiDialog.lastbuildstate
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.tlog/cl.command.1.tlog
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.tlog/link.command.1.tlog
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.tlog/link.read.1.tlog
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.tlog/link.write.1.tlog
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.tlog/rc.command.1.tlog
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.tlog/rc.read.1.tlog
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialog.tlog/rc.write.1.tlog
/TestMultiDialog/TestMultiDialog/Debug/TestMultiDialogDlg.obj
/TestMultiDialog/TestMultiDialog/Debug/stdafx.obj
/TestMultiDialog/TestMultiDialog/Debug/vc120.idb
/TestMultiDialog/TestMultiDialog/Debug/vc120.pdb
/TestMultiDialog/TestMultiDialog/ReadMe.txt
/TestMultiDialog/TestMultiDialog/Release/SubClass1.obj
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.Build.CppClean.log
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.log
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.obj
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.pch
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.res
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.tlog/CL.read.1.tlog
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.tlog/CL.write.1.tlog
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.tlog/TestMultiDialog.lastbuildstate
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.tlog/cl.command.1.tlog
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.tlog/link.command.1.tlog
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.tlog/link.read.1.tlog
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.tlog/link.write.1.tlog
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.tlog/rc.command.1.tlog
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.tlog/rc.read.1.tlog
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialog.tlog/rc.write.1.tlog
/TestMultiDialog/TestMultiDialog/Release/TestMultiDialogDlg.obj
/TestMultiDialog/TestMultiDialog/Release/stdafx.obj
/TestMultiDialog/TestMultiDialog/Release/vc120.pdb
/TestMultiDialog/TestMultiDialog/*.aps
/bitmap_resize/Debug/bitmap_resize.exe
/bitmap_resize/Debug/bitmap_resize.ilk
/bitmap_resize/Debug/bitmap_resize.pdb
/bitmap_resize/bitmap_resize.sdf
/bitmap_resize/bitmap_resize/Debug/CL.read.1.tlog
/bitmap_resize/bitmap_resize/Debug/CL.write.1.tlog
/bitmap_resize/bitmap_resize/Debug/bitmap_resize.lastbuildstate
/bitmap_resize/bitmap_resize/Debug/bitmap_resize.log
/bitmap_resize/bitmap_resize/Debug/bitmap_resize.obj
/bitmap_resize/bitmap_resize/Debug/bitmap_resize.pch
/bitmap_resize/bitmap_resize/Debug/bitmap_resize.res
/bitmap_resize/bitmap_resize/Debug/bitmap_resizeDlg.obj
/bitmap_resize/bitmap_resize/Debug/cl.command.1.tlog
/bitmap_resize/bitmap_resize/Debug/link-cvtres.read.1.tlog
/bitmap_resize/bitmap_resize/Debug/link-cvtres.write.1.tlog
/bitmap_resize/bitmap_resize/Debug/link-mt.read.1.tlog
/bitmap_resize/bitmap_resize/Debug/link-mt.write.1.tlog
/bitmap_resize/bitmap_resize/Debug/link-rc.read.1.tlog
/bitmap_resize/bitmap_resize/Debug/link-rc.write.1.tlog
/bitmap_resize/bitmap_resize/Debug/link.command.1.tlog
/bitmap_resize/bitmap_resize/Debug/link.read.1.tlog
/bitmap_resize/bitmap_resize/Debug/link.write.1.tlog
/bitmap_resize/bitmap_resize/Debug/rc.command.1.tlog
/bitmap_resize/bitmap_resize/Debug/rc.read.1.tlog
/bitmap_resize/bitmap_resize/Debug/rc.write.1.tlog
/bitmap_resize/bitmap_resize/Debug/stdafx.obj
/bitmap_resize/bitmap_resize/Debug/vc110.idb
/bitmap_resize/bitmap_resize/Debug/vc110.pdb
/bitmap_resize/ipch/bitmap_resize-3890ec/*.ipch
/bitmap_resize/bitmap_resize/*.aps
